<!DOCTYPE html>
<html lang="es" ng-app="Banco">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NIP</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="imagenes/logo.png" type="image/png">
  <script src="angular.min.js"></script>
  <script>
    var app = angular.module('Banco', []);
    app.controller('inicioCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {
      $scope.id = $location.search().id;
      $scope.tarjeta = {
        id: 0,
        clienteID: 0,
        tipo: "",
        numeroTarjeta: "",
        nip: "",
        fechaVencimiento: "",
        saldoActual: 0,
        limiteCredito: 0,
        cliente: {
          id: 0,
          nombre: "",
          apellido: "",
          correoElectronico: ""
        }
      }
      
      $scope.nip = "";
      $scope.confirmarCancelar = function () {
        var confirmacion = confirm("¿Desea cancelar la operación?");
        if (confirmacion) {
          $scope.cancelarOperacion();
        }
      };

      $scope.atras = function () {
        window.location.href = "contarjeta.html#!/?id=" + $scope.id;
      };
      
      $scope.delete = function(){
        $scope.nip = $scope.nip.slice(0, -1);
      }
      $scope.digits = function(i){
        if ($scope.nip.length < 4) {
          $scope.nip += i; 
        }
        
      }

      $scope.validartipo = function(){
        if ($scope.tarjeta.nip == $scope.nip){
          window.location.href ="contarjeta.html#!/?id=" + $scope.id;

        }
        else {
          alert("Nip Invalido");
        }
      }
      $http.get('http://localhost:5006/api/Tarjeta/'+ $scope.id).then(function(x){
      $scope.tarjeta=x.data;
      },function(){
        alert('Error en el servido');
      })
    }])
  </script>
</head>

<body ng-controller="inicioCtrl">
  <div id="cajero">
    <header>
      <div class="logo-container">
        <img src="imagenes/logo.png" alt="Logo del banco">
        <h1>Bienvenido a StartBank</h1>
      </div>
      <h2>¡HOLA {{tarjeta.cliente.nombre}} {{tarjeta.cliente.apellido}}!</h2>
    </header>

    <main>
      <section class="teclado">
        <table>
          <tr>
            <td><button ng-click="digits('1')">1</button></td>
            <td><button ng-click="digits('2')">2</button></td>
            <td><button ng-click="digits('3')">3</button></td>
          </tr>
          <tr>
            <td><button ng-click="digits('4')">4</button></td>
            <td><button ng-click="digits('5')">5</button></td>
            <td><button ng-click="digits('6')">6</button></td>
          </tr>
          <tr>
            <td><button ng-click="digits('7')">7</button></td>
            <td><button ng-click="digits('8')">8</button></td>
            <td><button ng-click="digits('9')">9</button></td>
          </tr>
          <tr>
            <td colspan="2"><button ng-click="delete()">BORRAR</button></td>
            <td><button ng-click="digits('0')">0</button></td>
          </tr>
        </table>
      </section>
      <section class="pantalla">
        <div class="numero-tarjeta">
          <h1> INGRESA TU NÚMERO DE NIP</h1>
          <h1>↓</h1>
          <input type="password" ng-model="nip" maxlength="4">
        </div>
      </section>
    </main>
    <footer>
      <button ng-click = "validartipo()">ACEPTAR</button>
      <button id="salir" ng-click="confirmarCancelar()">CANCELAR</button>
    </footer>
  </div>
</body>

</html>